@use 'sass:color';

// Svelte Colors! (Dark Theme)
@use '@material/theme/index' as theme with (
  $primary: #B39DDB,
  $secondary: #c5db9d,
  $surface: #272727,
  $background: #121212,
  $error: #EF9A9A
);

html,
body {
  background-color: theme.$background;
  color: theme.$on-surface;
}
